/* Basic Colors*/
.light-green-bg-color { background-color: #95D99B; }
.dark-green-color { color: #4D6F50; }
.dark-green-bg-color { background-color: #4D6F50; }
.white-color { color: #fff; }

.padding-top-100px {padding-top: 100px;}
.margin-bottom-25px {margin-bottom: 25px;}

/**********************
 *
 * style for LOGIN
 *
 **********************/
body{
    background-color: #232F3E;
    height: 100vh;
}
#loginContainer{
    /* background-color: #232F3E;
    height: 100vh; */
}

.login-form {
    max-width:450px;
    margin :auto;
}


.login-form .hint-text {
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 8px;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}


.input-group {
    background-color: #4D6F50;
    color: white;
    border: 2px solid #95D99B;
    border-radius: 8px;
}

.input-group input::placeholder {
    color: #fff;
    background-color: #4D6F50;
    font-size: 1em;
}

.input-group>.custom-select:not(:first-child), 
.input-group>.form-control:not(:first-child) {
    color: #fff;
    background-color: #4D6F50;
    text-transform: none;
    font-size: 1em;
    border: none;
}

.input-group-addon .fa {
    font-size: 18px;
    padding: 10px;
}

.form-group {
    margin-bottom: 1rem;
    padding-left: 55px;
    padding-right: 55px;
}

.clearfix {
    padding-left: 55px;
    padding-right: 55px;
}

.btn-success,
.btn-success:hover {
    height: 42px;
    color: #4D6F50;
    background-color: #fff;
    border-color: #4D6F50 !important;
    text-transform: uppercase;
    font-size: 1em;
}

