.pmodel {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    display: none;
    background-color: violet;
}

.model {
    width: 60%;
    background: white;
    padding: 3rem;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.x {
    right: 20px;
    top: 10px;
    font-size: 35px;
    position: absolute;
    cursor: pointer;
}